<mat-card class="card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="loginRequest.usuario" name="username" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Password" [(ngModel)]="loginRequest.password" name="password" required
                    type="password">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Emisor</mat-label>
                <mat-select [(ngModel)]="loginRequest.codigoEmisor" name="selectedEmisor">
                    <mat-option *ngFor="let emisor of emisors" [value]="emisor.Codigo" class="option">
                        {{emisor.NombreEmisor}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="login()">Login</button>
            <mat-error *ngIf="result && result.isError">{{ result.error }}</mat-error>
        </form>
    </mat-card-content>
</mat-card>